venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.ruff_cache/
logs/
data/processed/*
!data/processed/.gitkeep
data/raw/*
!data/raw/.gitkeep
.vscode/
.idea/
.DS_Store
models/
*.bin
*.onnx
*.blob
*.npy
proposal/
proposal.log
test.jpg
test.tex
test.aux
test.log
